.codechime-loader-background {
    background: var(--codechime-loader-loader-bg-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    opacity: var(--codechime-loader-loader-bg-opacity);
}

.pace-done .codechime-loader-background {
    display: none;
}
